html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

* {
	font-family: "Open Sans", "Arial", "sans-serif";
	box-sizing: border-box;
	background-repeat: no-repeat;
}

:focus {
	outline: none;
}

body > [id] {
	height: calc(100vh - 26px);
	width: 100vw;
	position: fixed;
	top: 26px;
}

[id] > footer {
	height: 30px;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
}
