html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

* {
	font-family: "Open Sans", "Arial", "sans-serif";
	box-sizing: border-box;
	background-repeat: no-repeat;
	color: white;
	background-size: cover;
}

:focus {
	outline: none;
}

body > [id] {
	height: calc(100vh - 26px);
	width: 100vw;
	position: fixed;
	top: 26px;
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform: scale(1.3);
	opacity: 0;
}

body > .selected,
#modals.open {
	transform: none !important;
	opacity: 1 !important;
}

[id]:not(#player) > footer {
	position: fixed;
	bottom: 0;
	padding: 0;
	grid-gap: 0;
	display: grid;
	height: 30px;
	background: transparent;
	color: white !important;
	width: 100vw;
	margin: 0;
	z-index: 105 !important;
	grid-template-columns: repeat(3, 1fr);
}
footer img {
	position: relative;
	top: -3.5px;
	width: 25px;
	height: 25px;
	image-rendering: optimizespeed;
}
[id]:not(#player) > footer > * {
	padding-top: 6px;
	padding-bottom: 3px;
	margin: 0;
	font-size: 15px;
}
[id]:not(#player) > footer > *:first-child {
	text-align: start;
	padding-left: 8px;
}
[id]:not(#player) > footer > *:nth-child(2) {
	text-align: center;
	padding-bottom: 3px;
	font-weight: 600;
	font-size: 17px;
	padding-top: 5px;
}
[id]:not(#player) > footer > *:nth-child(3) {
	text-align: end;
	padding-right: 8px;
}
#music > [data-index="2"].focus ~ footer > *:nth-child(2)::after {
	content: "Play";
}
#music > [data-index]:not([data-index="2"]).focus ~ footer > *:nth-child(2)::after {
	content: "Select";
}

#player > [data-index] > * {
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

#player_image {
	width: 170px !important;
	height: 170px;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 170px;
}

#player_image::before {
	content: "NO IMAGE";
	font-size: 20px;
	color: white;
	font-weight: 800;
	display: inline;
}
#player_image[class^="album-"]::before {
	display: none;
}

#player_progress {
	width: 170px !important;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.2);
	position: relative;
	margin-top: -4px;
	margin-bottom: 2px;
	font-size: 10px;
	text-align: right;
	padding-top: 1px;
	overflow: unset !important;
}

#player_progress::after {
	content: "";
	height: 100%;
	width: var(--progress, 0%);
	left: 0;
	top: 0;
	background-color: white;
	position: absolute;
}

#player > [data-index],
#player {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 10px;
	background-position: center center;
	background-size: cover;
	padding-top: 24px;
}
#player > [data-index] {
	background-color: rgba(0, 0, 0, 0.7);
}

#player_queue {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.5);
	line-height: 1.2;
	font-weight: 600;
}
#player_title {
	line-height: 1.2;
	font-size: 16px;
	font-weight: 600;
}

#player_artist {
	font-size: 17px;
	line-height: 1.1;
	font-weight: 600;
	margin-bottom: 2px;
}

#player_album {
	line-height: 1;
	font-size: 15px;
	margin-bottom: 4px;
	overflow: unset !important;
}

#home #wrapper > [data-index] {
	padding: 10px;
	height: 100%;
	font-size: large;
	grid-row: 1;
	position: relative;
	padding-top: 62px;
	overflow: hidden;
}

#home #wrapper {
	font-size: 0px;
	overflow: hidden;
	display: grid;
	grid-template-columns: calc(100vw - 20px) calc(100vw - 20px) 100vw;
	height: 100%;
}

#home [data-index="0"] {
	padding: 20px !important;
	padding-top: 62px !important;
}

#home [data-index="0"] > div {
	font-size: 27.5px;
	height: 42px;
	background-image: none;
	background-color: unset;
	border: none;
	width: -moz-fit-content;
	padding-right: 5px;
	padding-left: 1px;
}
#home [href="search"] {
	margin-top: 40px !important;
	width: 36px !important;
	height: 36px !important;
	padding: 2px !important;
}
#home > title {
	position: absolute;
	top: 18px;
	font-size: 70px;
	font-weight: lighter;
	left: 14px;
	height: 70px;
	color: var(--accent, grey);
	transition: transform 0.5s;
	z-index: -5;
	display: block;
	line-height: 70px;
}

#home [data-index] > title {
	display: block;
	font-size: 26px;
	margin-left: 3px;
}

#home *:focus {
	outline: var(--accent, grey) solid 4px;
	z-index: 100;
}

[data-index="0"] > #music {
	margin-top: 8px;
}

#home #nowplaying {
	width: 180px;
	height: 180px;
	background-color: #708090;
	margin: 3px 1px 1px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	white-space: nowrap;
}

#nowplaying + .container {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(3, 58px);
	margin-left: 1px;
	margin-top: 3px;
}
#nowplaying + .container > * {
	width: 58px;
	height: 58px;
	background-color: #f0f8ff;
}

#home [data-index="2"] .container {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(2, 87px);
	margin-left: 1px;
	margin-top: 3px;
	margin-bottom: 10px;
}

#home [data-index="2"] .container > * {
	width: 87px;
	height: 87px;
	background-color: #f0f8ff;
}

#home {
	top: 0;
	height: 100vh;
	padding-top: 26px;
}

#home,
#player {
	background-image: var(--artist);
}

#home::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.container {
	padding-bottom: 10px;
}

#nowplaying time,
#nowplaying title {
	display: block;
	color: inherit;
	text-shadow: 0px 0px 3px var(--shadow, #000);
}

#nowplaying title {
	font-size: 16px;
	font-weight: 700;
	text-overflow: ellipsis;
}

#nowplaying time {
	font-size: 50px;
	font-weight: lighter;
	line-height: 1;
	margin-top: auto;
}

body > [id] > header {
	font-size: 14px;
	width: 100vw;
	height: 18px;
	line-height: 1;
	padding: 2px 6px;
	font-weight: 600;
	text-transform: capitalize;
}

tabs {
	width: -moz-max-content;
	height: 41px;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 6px;
	top: 13px;
	position: absolute;
	letter-spacing: -1px;
	display: block;
	left: 0;
	transition: transform 0.4s linear;
	font-size: 0;
}
tabs > * {
	display: inline-block;
	font-size: 29px;
	--a: cubic-bezier(1, 0, 0, 1);
	transition: width 0.3s var(--a), transform 0.3s var(--a), color 0.2s ease;
	color: rgba(255, 255, 255, 0.4);
	width: -moz-fit-content;
}
tabs > *.selected {
	color: white;
}

#logs {
	background-color: #393f4c;
}
#logs > * {
	font-family: "Droid Sans Mono";
	letter-spacing: -0.9px;
	font-size: 13px;
	padding: 2px 5px 4px 20px;
	word-break: break-all;
	border-left: 4px solid #cbcbcb;
	position: relative;
	color: #d99b28;
}
#logs > *::before,
#logs > *::after {
	position: absolute;
}
#logs > *::before {
	top: 3px;
	left: 3px;
	font-size: 9px;
}
.error::before,
.exception::before {
	content: "❌";
}
.error,
.exception {
	background-color: #574250;
}
.info::before {
	content: "ℹ";
}
.warn::before {
	content: "⚠";
}

.grey {
	color: #e9f4fe !important;
}
#logs > *:focus {
	background-color: #475983 !important;
}

body > [id] > header + tabs ~ [data-index] {
	height: calc(100vh - 110px);
	overflow: hidden;
	position: absolute;
	width: 100vw;
	top: 54px;
	left: 0;
	opacity: 0;
}

body > [id] > header + tabs ~ [data-index].focus {
	opacity: 1;
}

@keyframes go-left {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 1;
		transform: translateX(-100vw);
	}
}
@keyframes go-right {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 1;
		transform: translateX(100vw);
	}
}
@keyframes in-right {
	from {
		opacity: 1;
		transform: translateX(100vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@keyframes in-left {
	from {
		opacity: 1;
		transform: translateX(-100vw);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
.go-left {
	animation: go-left 0.3s cubic-bezier(1, 0, 0, 1);
}
.in-right {
	animation: in-right 0.3s cubic-bezier(1, 0, 0, 1);
}
.go-right {
	animation: go-right 0.3s cubic-bezier(1, 0, 0, 1);
}
.in-left {
	animation: in-left 0.3s cubic-bezier(1, 0, 0, 1);
}
#music > [data-index] > * {
	background-attachment: local;
}
#music > [data-index]:not([data-index="1"]) > *,
#settings [tabindex] {
	height: 48px;
	background-size: 38px;
	font-size: 16px;
	padding-left: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.4;
	background-position: 1px;
}
#music [tabindex],
#settings [tabindex] {
	border: transparent solid 4px;
}
#music *:focus,
#settings *:focus {
	border: var(--accent, grey) solid 4px;
}
#music > [data-index="1"] {
	padding: 6.5px;
}
#music > [data-index="1"] > * {
	height: 142px;
	width: 113px;
	background-size: 103px;
	background-position: 1px 1px;
	padding: 4px;
	padding-top: 104px;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
#music > [data-index="2"] > *::after {
	content: attr(data-artist);
	position: absolute;
}
#music > [data-index="2"] > * {
	line-height: 1.5 !important;
}
#music > [data-index="2"] > *::after {
	content: attr(data-artist);
	position: absolute;
	display: block;
	font-size: 12px;
	color: grey;
	width: calc(100vw - 55px);
	margin-top: -33px;
	line-height: 6.2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: -0.5px;
}

#music > [data-index="0"] > *::before,
#music > [data-index="3"] > *::before,
#music > [data-index="4"] > *::before {
	/* temp */
	content: "▷";
	width: 38px;
	height: 38px;
	background-color: rgba(0, 0, 0, 0.5);
	display: block;
	position: absolute;
	margin-left: -44px;
	margin-top: 1px;
	color: white;
	font-size: 32px;
	line-height: 1;
	text-align: center;
}
#music > [data-index="1"] > *::after {
	content: attr(data-artist);
	font-size: 10px;
	color: grey;
	display: block;
	position: absolute;
	width: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: -3px;
}
sticky {
	position: sticky !important;
	color: var(--accent, grey);
	height: 25px !important;
	width: 100vw !important;
	top: 0 !important;
	background-color: black !important;
	z-index: 1 !important;
	display: block !important;
	line-height: unset !important;
	padding: unset !important;
	padding-left: 10px !important;
	left: 0 !important;
}
sticky::after {
	content: attr(data-letter) !important;
	font-size: 18px !important;
	position: unset !important;
	height: unset;
	line-height: 1.3 !important;
	margin: unset !important;
	width: unset !important;
}
[data-index="1"] > sticky {
	left: -6px !important;
	top: -7px !important;
	padding-left: 2px !important;
}

#settings [tabindex] {
	padding-left: 5px !important;
}
[aria-required][data-state="off"] + * {
	display: none;
}
#settings [data-type] {
	position: relative;
}
#settings [data-type="toggle"] {
	padding-right: 45px;
}
#settings [data-type]::before,
#settings [data-type]::after {
	content: "";
	position: absolute;
}
#settings [data-type="toggle"]::before {
	border: 2px solid white;
	width: 33px;
	height: 18px;
	top: 8.5px;
	right: 5px;
	background-color: black;
	border-radius: 20px;
}
#settings [data-type="toggle"]::after {
	border-radius: 100%;
	width: 14px;
	height: 14px;
	background-color: white;
	right: 9px;
	top: 12.5px;
	transition: margin 0.2s linear, background-color 0.4s linear;
	margin-right: 15px;
}
#settings [data-type="toggle"][data-state="on"]::after {
	margin-right: 0;
}
#settings [data-type="toggle"][data-state="on"]::before {
	background-color: var(--accent, grey);
}
#settings [data-type="picker"]::before,
#settings [data-type="number"]::before {
	width: 24px;
	height: 24px;
	background-image: url(chevron.svg);
	right: 2px;
	top: 8px;
}
#settings [data-type="picker"]::after,
#settings [data-type="number"]::after {
	content: attr(data-state) !important;
	text-transform: capitalize;
	right: 25px;
	font-size: 14px;
	font-weight: 600;
	padding-top: 2px;
}
#settings [href="colors"]::before {
	border: 1px solid white;
	width: 25px;
	height: 25px;
	right: 5px;
	border-radius: 3px;
	top: 6px;
	background-color: var(--accent, grey);
}

::placeholder {
	color: rgba(255, 255, 255, 0.4);
}

input[type="text"],
input[type="tel"],
textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 0;
	margin: 0;
	margin-bottom: 5px;
	width: 100%;
	font-size: 16px;
}
#modals {
	background-color: rgb(10, 10, 10);
	max-height: 80vh;
	height: unset;
	top: unset;
	bottom: 5px;
	width: calc(100vw - 10px);
	left: 5px;
	padding: 7px;
	transform: translateY(80vh) !important;
	box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.5);
}
#modals > footer {
	position: unset !important;
	width: 100% !important;
	height: 25px !important;
}
#modals > footer > * {
	font-size: 15px !important;
	font-weight: normal !important;
	padding: 6px 0 !important;
	font-weight: 600 !important;
}
#modals > h1 {
	color: rgba(255, 255, 255, 0.4);
	margin: 0;
	font-size: 12px;
}
#modals > input,
#modals > textarea {
	margin-top: 0;
}
#modals > header {
	margin-bottom: 3px;
	padding: 0;
}
#modals div:focus {
	background-color: rgba(255, 255, 255, 0.1);
}

#modals #picker > div {
	padding: 5px;
	font-size: 17px;
	text-transform: capitalize;
}
