html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	overflow: hidden;
}

* {
	font-family: "Open Sans", "Arial", "sans-serif";
	box-sizing: border-box;
	background-repeat: no-repeat;
	color: white;
	background-size: cover;
}

:focus {
	outline: none;
}

body > * {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

body > *.flex {
	display: flex;
	flex-direction: column;
}

@keyframes backIn {
	from {
		opacity: 0;
		transform: scale(1.1);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes forwardIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

/*
@keyframes forwardOut {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(1.1);
	}
}

@keyframes backOut {
	from {
		opacity: 1;
		transform: scale(1);
	}	to {
		opacity: 0;
		transform: scale(0.9);
	}
}
*/

body > * {
	animation-timing-function: ease-in-out;
	animation-duration: 250ms;
}

.forwardIn {
	animation-name: forwardIn;
}

.backIn {
	animation-name: backIn;
}

/*
.backOut {
	animation-name: backOut;
}
.forwardOut {
	animation-name: forwardOut;
}
*/

[data-focusable] {
	border: solid 4px;
	border-color: transparent;
}

[data-focusable]:focus {
	border-color: var(--accent, grey);
}

@keyframes tabIn-left {
	from {
		opacity: 0;
		transform: translateX(-100vw);
	} to {
		opacity: 1;
		transform: none;
	}
}
@keyframes tabIn-right {
	from {
		opacity: 0;
		transform: translateX(100vw);
	} to {
		opacity: 1;
		transform: none;
	}
}

@keyframes tabOut-left {
	from {
		opacity: 1;
		transform: none;
	} to {
		opacity: 0;
		transform: translateX(100vw);
	}
}

@keyframes tabOut-right {
	from {
		opacity: 1;
		transform: none;
	} to {
		opacity: 0;
		transform: translateX(-100vw);
	}
}

.tabIn-left {
animation: tabIn-left 250ms ease;
}

.tabIn-right {
	animation: tabIn-right 250ms ease;
}

.tabOut-left {
	animation: tabOut-left 250ms ease;
	}
	
	.tabOut-right {
		animation: tabOut-right 250ms ease;
	}